@charset "UTF-8";
/* CSS Document */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* FONTS */

@font-face {
    font-family: 'Bebas';
    src: url('fonts/Bebas.eot'),
         url('fonts/Bebas.ttf') format('truetype'),
         url('fonts/Bebas.woff') format('woff'),
         url('fonts/Bebas.svg') format('svg');
}

@font-face {
    font-family: 'helvetica-neue-thin';
    src: url('fonts/helvetica-neue-thin.eot'),
         url('fonts/helvetica-neue-thin.ttf') format('truetype'),
         url('fonts/helvetica-neue-thin.woff') format('woff'),
         url('fonts/helvetica-neue-thin.svg') format('svg');
}

body {
  font-family: 'helvetica-neue-thin';
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  margin: 0;
}

h1 {
  font-size: 42px;
}

h3 {
  margin: 0;
  padding: 13px;
  letter-spacing: 1px;
}

.bold {
  font-weight: bold;
}

.align-left {
  text-align: left;
}

/* COLORS */

.blue {
  color: #418bc9;
}

/* SHARED */

.header-wrapper {
  height: 50px;
  max-width: 100%;
  background-color: #418bc9;
}

.header-container {
  max-width: 1208px;
  margin: auto;
}

.header-left {
  color: #fff;
  font-family: 'Bebas', Arial, sans-serif;
  font-size: 24px;
  float: left;
  margin-left: 5px;
}

.header-right {
  color: #8cc0eb;
  font-family: 'Bebas', Arial, sans-serif;
  font-size: 24px;
  float: right;
  margin-right: 5px;
}

.navigation-links {
  height: 40px;
  padding: 3px 0 0 15px;
}

.wrapper {
  max-width: 1208px;
  min-height: 1000px;
  height: 100%;
  width: 100%;
  margin: auto;
  border-left: 5px solid #f5f5f5;
  border-right: 5px solid #f5f5f5;
  padding: 10px 0;
}

/* CARD STYLES */

.card-wrapper {
  width: 80%;
  margin: auto;
  text-align: center;
}

.navigation-links {
  border-bottom: 5px solid #f5f5f5;
}

.reset-deck {
  width: 200px;
  height: 60px;
  margin: 20px auto 0;
  display: inline-block;
  background-color: #f15b4e;
  border: 6px solid #f19c94;
  color: #fff;
  border-radius: 30px;
  font-size: 25px;
  padding: 8px;
}

.card {
  width: 740px;
  height: 500px;
  margin: 20px auto;
  border: 3px solid #f5f5f5;
}

.lined {
  width: 100%;
  height: 92%;
  background: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 0px;
  background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0px;
  background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0px;
  background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0px;
  background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0px;
  background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0px;
  -webkit-background-size: 100% 31px;
  -moz-background-size: 100% 31px;
  -ms-background-size: 100% 31px;
  -o-background-size: 100% 31px;
  background-size: 100% 31px;
}

.remove-card {
  display: block;
  width: 100%;
  height: 35px;
  border-bottom: 3px solid #fcbbc1;
}

.remove-card-text {
  font-size: 20px;
  float: right;
  color: #f15b4e;
  padding: 6px;
}

.card-term {
  font-family: 'courier new';
  color: #333333;
  font-size: 60px;
  position: relative;
  top: 190px;
  left: 80px;
}

.card-definition {
  font-family: 'courier new';
  color: #333333;
  font-size: 22px;
  padding: 30px;
  line-height: 31px;
}

.spacer {
  height: 30px;
}

.card-nav > div {
  display: inline-block;
}

.card-nav-left,
.card-nav-flip,
.card-nav-right {
  display: inline-block;
  background-color: #418bc9;
  border: 6px solid #6aa3d4;
  color: #fff;
  font-size: 40px;
  padding-top: 8px;
}

.card-nav-left,
.card-nav-right {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}

.card-nav-flip {
  width: 300px;
  height: 80px;
  border-radius: 40px;
  margin: 0 25px;
}

/* SCREEN 1 STYlES */

.tiles {
  margin-left: 45px;
}

.tile {
  width: 335px;
  float: left;
  margin: 0 45px 45px 0;
  border-bottom: 4px solid #e5e5e5;
}

.tile-title {
  width: 100%;
  height: 60px;
  background-color: #414651;
  color: white;
  font-size: 10px;
  text-align: center;
  padding: 5px 30px 0 30px;
}

.tile-title h1 {
  margin: 0;
}

.one-line {
  padding-top: 18px;
}

.tile-body {
  width: 100%;
  text-align: center;
  height: 192px;
  background-color: #f8f8f8;
}

/* SCREEN 2 */

.modal {
  width: 1208px;
  height: 530px;
  background-color: #fff;
  border: 8px solid #418bc9;
  display: block;
  position: absolute;
  top: 100px;
  padding: 45px;
}

.modal h1 {
  margin: 0 0 30px 0;
  width: 900px;
  float: left;
}

.print-icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  border: 5px solid #d7d7d7;
  background-color: #f8f8f8;
  color: #d7d7d7;
  font-size: 40px;
  padding: 5px 0 0 13px;
  float: right;
}

.term-example {
  margin-right: 35px;
}

.term-example,
.definition-example {
  width: 525px;
  float: left;
}

.term-ex-title,
.definition-ex-title {
  height: 60px;
  background-color: #414651;
  color: #fff;
  text-align: center;
  font-size: 25px;
}

.example-bg {
  font-family: 'Bebas';
  font-size: 120px;
  color: #ededed;
  padding: 30px;
  top: 50px;
  position: relative;
}

.term-ex-body,
.definition-ex-body {
  height: 220px;
  background-color: #f8f8f8;
  border-bottom: 4px solid #e5e5e5;
}

.term-ex-body-copy,
.definition-ex-body-copy {
  text-align: center;
  z-index: 999;
  position: relative;
  color: #333;
  margin: 0 25px;
}

.term-ex-body-copy {
  font-size: 42px;
  top: -40px;
}

.definition-ex-body-copy {
  font-size: 32px;
  top: -70px;
}

