@media only screen and (max-width: 1208px) {
  h1 {
    font-size: 32px;
  }

 .h1-margin {
   font-size: 32px;
    text-align: center;
    margin: 15px 0;
  }

  h2 {
    font-size: 22px;
    line-height: 22px;
  }

  .header-container,
  .container {
    width: 90%;
  }

  .tile-title {
    padding-left: 18px;
    padding-right: 18px;
  }

  .spacer {
    display: none;
  }

  .choose-modal {
    width: 89%;
    height: auto;
  }

  .term-ex-body,
  .definition-ex-body {
    height: 180px;
  }

  .definition-ex-body-copy {
    font-size: 22px;
  }

  .term-ex-body-copy {
    top: 45px;
  }

  .tile-body {
    height: 130px;
  }

  .tile-body img {
    width: 90px;
    margin-top: 20px;
  }

  .card {
    width: 80%;
  }

  .card-term {
    height: 265px;
    padding-top: 60px;
    font-size: 80px;
  }

  .reset-deck {
    width: 150px;
    height: 40px;
    font-size: 19px;
    padding: 0;
  }

  .card-definition {
    font-size: 18px;
    line-height: 25px;
    padding: 30px;
    height: auto;
  }

  .card-nav-flip,
  .card-nav-left,
  .card-nav-right {
    width: 60px;
    height: 60px;
    font-size: 30px;
    padding: 0;
  }

  .card-nav-flip {
    width: 240px;
    margin: 0 15px;
  }
}

@media only screen and (max-width: 995px) {

  h2 {
    font-size: 18px;
    line-height: 20px;
  }

  .tile-title {
    padding-left: 12px;
    padding-right: 12px;
  }

  .example-bg {
    padding-top: 10px;
  }

  .definition-ex-body-copy {
    font-size: 20px;
  }

  .card {
    width: 100%;
  }
}

@media only screen and (max-width: 766px) {

  .col-xs-2 {
    display: none;
  }

  .col-xs-10 {
    width: 100%;
  }

  .header-left,
  .header-right {
    font-size: 20px;
  }

  .tile {
    width: 75%;
    float: none;
    margin: 0 auto 9%;
  }

  .choose-modal {
    top: 120px;
    padding: 30px;
  }

  .choose-modal-header {
    width: 100%;
    margin: auto;
  }

  .choose-modal-header h1 {
    font-size: 32px;
    text-align: center;
  }

  .term-example,
  .definition-example {
    float: none;
    margin: 0 auto 35px;
  }

  .card-nav-flip {
    width: 185px;
  }

}

@media only screen and (max-width: 500px) {

  .navigation-links a {
    margin: 0;
  }

  .choose-modal-header h1 {
    font-size: 25px;
  }

  .definition-ex-body-copy {
    font-size: 18px;
  }

  .remove-card-text {
    font-size: 16px;
    padding: 5px;
  }

  .card-definition {
    font-size: 16px;
    line-height: 20px;
    padding: 15px;
  }

  .reset-deck {
    font-size: 16px;
    width: 120px;
    padding: 2px;
  }

  .card-nav-flip,
  .card-nav-left,
  .card-nav-right {
    width: 40px;
    height: 40px;
    font-size: 18px;
    padding: 1px;
  }

  .card-nav-flip {
    width: 110px;
    margin: 0 5px;
  }

  .card-term {
    height: 150px;
    padding-top: 30px;
    font-size: 48px;
  }
}

@media only screen and (max-width: 360px) {
  h2 {
    font-size: 16px;
  }
  .card-definition {
    font-size: 14px;
  }
  .definition-ex-body-copy {
    top: 10px;
  }
}

